#board_title {
    margin-right: 15%;
}

#PostContent {
    border-top-style: groove;
    border-top-width: thin;
    border-bottom-style: groove;
    border-bottom-width: thin;
}
#CommentWriter {
    margin-left: 5px;
}

#commentMenu {
    width: 25px;
    height: 25px;
}

#commentIcon {
    width: 15px;
    height: 15px;
}