#boardList {
    margin-top: 250px;
}

.board {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1.5em;
}
.icon {
    display: inline-block;
    margin-right: 30px;
    margin-left: 1em;
    font-size: 200%;
}
.label {
    margin-left: 1em;
}