#boardList {
    margin-top: 40%;
    margin-bottom: 40%;
}

.board {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 5vw;
}
.icon {
    display: inline-block;
    margin-right: 30px;
    margin-left: 1em;
    font-size: 200%;
}
.label {
    margin-left: 5vw;
}