#board_title {
    text-align: center;
}

#postWriter {
    display: block;
    width: 120px;
    max-width: 200px;
}

#modal_submit {
    display:block;
    margin: auto;
    margin-top: 20px;
    width: 100px;
    height: 45px;
}

#writePost {
    margin-right: 20px;
    margin-bottom: 20px;
}

.icon {
    margin-right: 5px;
    font-size: 1.3em;
}